.field {
    display: grid;
    grid-row: 1 / -2; 
    user-select: none;
    touch-action: none;

    @media (min-width: $desktop-layout) {
        grid-template: repeat(5, 14vh) / repeat(5, 14vh);
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-template: repeat(5, 16vw)/repeat(5, 16vw);
    }
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        grid-template: repeat(5, 10vw)/repeat(5, 10vw);
    }

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        grid-template: repeat(5, 10vw)/repeat(5, 10vw);
      }

    @media (min-width: 481px) and (max-width: 767px) {
  
        grid-template: repeat(5, 9vw)/repeat(5, 9vw);
        
      }
}