div(class="chat " + modifiers)
    div(class="chat__messages")
    form(class="chat__form")
        input(type="text" class="chat__input" placeholder="input text here...")
        input(type="submit" class="chat__submit")