.edit {
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        background: url(img/edit.svg);
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 80px;
        margin-left: auto;
    }
}