@keyframes active-right {
    from {box-shadow: 1px 1px 1px 1px var(--second-color);}
    to {box-shadow: inset 1px 1px 0px 2px var(--third-color);}
}

.block_theme_right-active {
    background-color: var(--second-color);
    box-shadow: 1px 1px 1px 1px var(--third-color);
    z-index: 3;
    animation: active-right 300ms forwards linear;
}