@keyframes del {
    0% { background-color: var(--fourth-color); }
    100% { background-color: var(--disable-block); }
}

.block_theme_del {
    background-color: var(--fourth-color);
    animation: del 300ms 300ms forwards linear;
}