@keyframes active-right {
    from {box-shadow: 1px 1px 1px 1px var(--secondary-color);}
    to {box-shadow: inset 1px 1px 0px 2px var(--bg-color);}
}

.block_theme_right-active {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px 1px var(--bg-color);
    z-index: 3;
    animation: active-right 300ms forwards linear;
}