.side_theme_right-passive {
    @media (min-width: $desktop-min-width) {
        grid-column: 8 / -1;
        grid-row: 2 / -2;
        border-radius: 10px 0 0 10px;
        background-color: #005FF9;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-column: 8 / -1;
        grid-row: 2 / -2;
        border-radius: 10px 0 0 10px;
        background-color: #005FF9;
    }
}