.side_theme_right-passive {
    grid-row: 2 / -2;
    border-radius: 10px 0 0 10px;
    background-color: var(--second-color);

    @media (min-width: $desktop-layout) {
        grid-column: 8 / -1;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 9/-1;
    }
}