.side_theme_left-active {
    grid-row: 2 / -2;
    border-radius: 0 10px 10px 0;
    background-color: var(--primary-color);

    @media (min-width: $desktop-layout) {
        grid-column: 1 / 8;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / 9;
    }
}