.side_theme_right-active {
    @media (min-width: $desktop-min-width) {
        grid-column: 6 / -1;
        grid-row: 2 / -2;
        border-radius: 10px 0 0 10px;
        background-color: #005FF9;
    }
}