.side_theme_left-passive {
    grid-row: 2 / -2;
    border-radius: 0 10px 10px 0;
    background-color: var(--first-color);

    @media (min-width: $desktop-layout) {
        grid-column: 1 / 6;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / 5;
    }
}