.side_theme_right-active {
    grid-row: 2 / -2;
    border-radius: 10px 0 0 10px;
    background-color: #005FF9;

    @media (min-width: $desktop-layout) {
        grid-column: 6 / -1;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 5/-1;
    }
}