.head_theme_main {    
    @media (min-width: $desktop-layout) {
        grid-column: 1 / 3;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -1;
        grid-row: 1;
    }
}