.head_theme_game {
    grid-column-gap: 20px;
    grid-row-gap: 1px;
    grid-column: 1 / -1;
    grid-row: 1 / 3;

    @media (min-width: $desktop-layout) {
        grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-template: repeat(7, 1fr)/repeat(12, 1fr);
    }
}