.head {
    display: grid;
    
    @media (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
        grid-template-columns: repeat(12, 1fr);
    }

    @media (max-width: $mobile-min-width) {
      display: none;
    }
}