.scoreboard {
    cursor: pointer;
    transition: all 250ms ease-out;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 0 512 512.00002' width='512pt' xmlns='http://www.w3.org/2000/svg' fill='%23005FF9'%3E%3Cpath d='m399.332031 358.058594h112.667969v153.941406h-112.667969zm0 0'/%3E%3Cpath d='m308.992188 124.9375c12.828124-13.273438 20.746093-31.324219 20.746093-51.199219 0-40.660156-33.078125-73.738281-73.738281-73.738281s-73.738281 33.078125-73.738281 73.738281c0 19.875 7.917969 37.925781 20.746093 51.199219-20.507812 15.421875-34.109374 39.554688-35.265624 66.851562h176.515624c-1.15625-27.296874-14.757812-51.429687-35.265624-66.851562zm0 0'/%3E%3Cpath d='m0 272.726562h112.664062v239.273438h-112.664062zm0 0'/%3E%3Cpath d='m142.667969 221.789062v290.210938h226.667969v-290.210938zm134.664062 177.542969h-30.34375v-67.113281h-15.425781v-22.886719h45.773438v90zm0 0'/%3E%3C/svg%3E");

    &:hover {
        transform: scale(1.2);
    }

    @media (min-width: $desktop-min-width) {
        padding: 4vh;
        background-size: 7vh;
        height: 4vh;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 30px;
        height: 30px;
    }
}
