.chat-icon {
    cursor: pointer;
    transition: all 250ms ease-out;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M48.9382 13.5601C46.7878 10.9173 43.867 8.82986 40.1763 7.29788C36.4858 5.76609 32.4538 5 28.0818 5C24.8206 5 21.7029 5.45233 18.7287 6.35717C15.7544 7.26192 13.1923 8.48485 11.0421 10.0257C8.89154 11.5667 7.18079 13.3988 5.90844 15.5219C4.63608 17.645 4 19.8715 4 22.2008C4 24.8883 4.81052 27.4066 6.43221 29.7538C8.05391 32.1007 10.2709 34.0719 13.0843 35.6666C12.887 36.3831 12.6541 37.0641 12.3852 37.7087C12.1165 38.3537 11.8746 38.883 11.6596 39.295C11.4444 39.707 11.1536 40.1642 10.7859 40.6658C10.4189 41.1674 10.1412 41.5214 9.95303 41.7272C9.76504 41.9334 9.45598 42.2743 9.02568 42.7485C8.59595 43.2237 8.31806 43.5326 8.19276 43.6762C8.17459 43.6846 8.10305 43.7658 7.97766 43.9179C7.85236 44.0699 7.78948 44.146 7.78948 44.146L7.62822 44.3875C7.53851 44.5222 7.49822 44.6072 7.50707 44.6424C7.51611 44.6775 7.49822 44.7677 7.45341 44.9107C7.40851 45.0544 7.41312 45.162 7.46678 45.2339V45.2606C7.53879 45.5834 7.69553 45.8431 7.93727 46.0398C8.17902 46.2368 8.45258 46.3175 8.75702 46.2811C9.92196 46.1378 10.9432 45.9416 11.821 45.6903C16.5156 44.4893 20.6368 42.3219 24.1844 39.1857C25.5279 39.329 26.827 39.4009 28.0812 39.4009C32.4532 39.4009 36.4849 38.6348 40.1759 37.1024C43.8668 35.5706 46.7874 33.483 48.9374 30.8407C51.0877 28.199 52.1628 25.3183 52.1628 22.2007C52.1629 19.083 51.0879 16.2025 48.9382 13.5601Z' fill='%23005FF9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52' height='52' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        transform: scale(1.2);
    }

    @media (min-width: $desktop-min-width) {
        padding: 39px 60px 24px 40px;
        background-size: 70px;
        height: 50px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 30px;
        height: 30px;
    }
}