.edit-icon {

    padding: 1vh;

    &__icon {
        cursor: pointer;

        &__img {
            width: 6vh;
            transition: all 250ms ease-out;

            &:hover, &:focus {
                transform: scale(1.2);
            }
        }
    }

    &__input {
        display: none;
    }
}