form(class='edit-icon ' + modifiers id=name enctype='multipart/form-data')
    label(class='edit-icon__icon' for='file-input')
        img(class='edit-icon__icon__img' src=require('./edit.svg'))
    input(class='edit-icon__input' id='file-input' type='file')