@keyframes shadow {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__back {
        z-index: 105;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background-color: var(--bg-text-color);
        animation: shadow 300ms forwards linear;
    }

    &__window {
        z-index: 110;
        background-color: var(--bg-color);
        color: var(--bg-text-color);
        display: flex;
        flex-direction: column;
        opacity: 0;
        animation: modal 300ms forwards linear 400ms;
        border-radius: 20px;
    }

    &__winner {
        text-align: center;
        font-family: "Roboto";
        margin-bottom: 4vh;
        font-size: 5vh !important;
        animation: modal 300ms forwards linear 400ms;
    }

    @media (min-width: $desktop-layout) {
        &__window {
            width: 30%;
            height: 30%;
            padding: 6vh 11vh 11vh;
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        &__window {
            width: 60%;
            height: 30%;
            padding: 6vh 7vh 9vh;
        }
    }
}