div(class='modal ' + modifiers) 
    div(class='modal__window')
        //- span(class='modal__winner') #{winner} WIN
        if loader
            span(class='modal__winner') Waiting Players
            include ./modal.svg
        else
            span(class='modal__winner') #{winner} WIN