.link {
    font-family: Roboto;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #005FF9;
    width: 100%;
    text-decoration: none;
    border: 1px solid black;

    @media (min-width: $desktop-min-width) {
        font-size: 2.3em;
        padding: 2vh 0 2vh;
        margin-bottom: 3vh;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 3% 0 3%;
        font-size: 1em;
        display: block;
    }

}