.link {
    display: inline-block;
    font-family: Roboto;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: var(--second-color);
    width: 100%;
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 1px black;
    font-size: 3vh;
    padding: 2vh 0 2vh;
    margin-bottom: 3vh;
}