.profile-card_theme_edit {
    // grid-column: 3/12;
    // background: linear-gradient(to top, white 80%, $color-main 10%);
    // border-radius: 0px 0px 30px 30px;
    // display: grid;
    // grid-template: 2fr 4fr/repeat(12, 1fr);
    // grid-template-areas: "h h h h h h h h h h h h" 
    //                      "p p p p p p f f f f f f";

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 3fr 3fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 20px;
    }
}