.profile-card_theme_main {
    display: grid;
    
    @media (min-width: $desktop-min-width) {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 10px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 3fr 3fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 20px;
    }
}