.profile-card {
    grid-column: 3/12;
    grid-row: 2;
    // background: linear-gradient(to top, #EF9A9A 85%, #FFCDD2, transparent 50%);
    border-radius: 0px 0px 30px 30px;
    display: grid;
    grid-template: 1fr 2fr /repeat(6, 1fr);
    grid-template-areas: "h h h h h h" 
                         ". i i i . .";
}