.profile-card_theme_main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 40px;
    // display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // grid-column-gap: 10px;
}