.profile-card_theme_forms {
    grid-row: 2;

    @media (min-width: $desktop-layout) {
        grid-column: 3/-3;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 2/-2;
    }
}