@keyframes lines-down-right-line1 {
    0% { height: 10vh; }
    70% { height: 35vh; }
    100% { height: 10vh; }
}

@keyframes lines-down-right-line2 {
    0% { height: 20vh; }
    30% { height: 40vh; }
    100% { height: 20vh; }
}

@keyframes lines-down-right-line3 {
    0% { height: 20vh; }
    30% { height: 40vh; }
    55% { height: 30vh; }
    100% { height: 40vh; }
}

.lines-down-right {
    position: absolute;
    bottom: 0px;

    &__line1 {
        position: absolute;
        background-color: var(--primary-color);
        animation: lines-down-right-line1 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }

    &__line2 {
        position: absolute;
        background-color: var(--primary-color);
        animation: lines-down-right-line2 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }

    &__line3 {
        position: absolute;
        background-color: var(--secondary-color);
        animation: lines-down-right-line3 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }

    @media (min-width: $desktop-layout) {
        right: 10vw;

        &__line1 {
            width: 3px;
            height: 35vh;
        }

        &__line2 {
            width: 3px;
            height: 40vh;
            right: 40px;
        }

        &__line3 {
            width: 3px;
            height: 40vh;
            right: 80px;
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        right: 7vw;
        z-index: -3;

        &__line1 {
            width: 2px;
            height: 35vh;
        }

        &__line2 {
            width: 2px;
            height: 40vh;
            right: 20px;
        }

        &__line3 {
            width: 2px;
            height: 40vh;
            right: 40px;
        }
    }
}