.link {
    font-family: Roboto;
    font-size: 44px;
    text-align: center;
    color: $color-text;
    background-color: #EF9A9A;
    display: block;
    width: 100%;
    padding: 40px 0px 40px;
    text-decoration: none;
    border: none;
}