.button_type_secondary {
    background-color: var(--secondary-3-color);
    transition: background-color 300ms ease;
    color: var(--secondary-text-color);
    
    &:hover {
        opacity: 0.8;
    }

    @media (min-width: $desktop-layout) {
        font-size: 3vh;
    }
}