.button_type_secondary {
    background-color: white;
    transition: background-color 300ms ease;
    color: black;
    @media (min-width: $desktop-min-width) {
        font-size: 3vh;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}