@keyframes bg {
    from {box-shadow: 0px -600px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
    50% {box-shadow: 0px -190px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
    to {box-shadow: 0px -290px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
}

.profile-head {
    display: grid;

    @media (min-width: $desktop-min-width) {
        grid-column: 1/-1;
        grid-row: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background: linear-gradient(8deg, #005ff9 21%, #ffb338 69%);
        border-radius: 3vh 3vh 0 0;
    }

    @media (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
        grid-column: 1/-1;
        grid-row: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background: linear-gradient(8deg, #005ff9 21%, #ffb338 69%);
        border-radius: 3vh 3vh 0 0;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 12px;
        grid-column: 1/-1;
        grid-row: 1;
        grid-row-gap: 6px;
        background: linear-gradient(8deg, rgba(0,95,249,1) 21%, rgba(255,179,56,1) 69%);
    }
}