.profile-head {
    display: grid;
    @media (min-width: $desktop-min-width) {
        grid-column: 1/-1;
        grid-row: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-column: 2/-2;
        grid-row: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
}