@keyframes bg {
    from {box-shadow: 0px -600px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
    50% {box-shadow: 0px -190px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
    to {box-shadow: 0px -290px 70px -120px #005ff9 inset, 0px -590px 70px -120px #ffc04d inset;}
}

.profile-head {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    background-color: var(--primary-color);
    // background: linear-gradient(8deg, #005ff9 21%, #ffb338 69%);

    @media (min-width: $desktop-layout) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        border-radius: 3vh 3vh 0 0;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 6px;
    }
}