.scoreboard {
    border-right: 1px solid white;
    padding: 10px 20px 10px 20px;
    
    &__icon {
        width: 70px;
        height: 70px;
        background: url(img/scoreboard.svg);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
    }
}