@keyframes lines-up-line1 {
    0% { height: 10vh; }
    70% { height: 28vh; }
    100% { height: 10vh; }
}

@keyframes lines-up-line2 {
    0% { height: 10vh; }
    30% { height: 28vh; }
    55% { height: 10vh; }
    100% { height: 28vh; }
}

@keyframes lines-up-line3 {
    0% { height: 5vh; }
    70% { height: 15vh; }
    100% { height: 5vh; }
}

.lines-up {
    position: absolute;
    top: 0px;

    &__line1 {
        position: absolute;
        background-color: var(--first-color);
        animation: lines-up-line1 2s forwards cubic-bezier(0.76, 0.04, 0.25, 0.96);
    }

    &__line2 {
        position: absolute;
        background-color: var(--second-color);
        animation: lines-up-line2 2s forwards cubic-bezier(0.76, 0.04, 0.25, 0.96);
    }

    &__line3 {
        position: absolute;
        background-color: var(--first-color);
        animation: lines-up-line3 2s forwards cubic-bezier(0.76, 0.04, 0.25, 0.96);
    }

    @media (min-width: $desktop-layout) {

        &__line1 {
            width: 3px;
            height: 28vh;
        }

        &__line2 {
            width: 3px;
            height: 28vh;
            left: 40px;
        }

        &__line3 {
            width: 3px;
            height: 15vh;
            left: 80px;
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        z-index: -3;

        &__line1 {
            width: 2px;
            height: 28vh;
        }

        &__line2 {
            width: 2px;
            height: 28vh;
            left: 20px;
        }

        &__line3 {
            width: 2px;
            height: 15vh;
            left: 40px;
        }
    }
}