.data-item {
    @media (min-width: $desktop-min-width) {
        grid-column: 3/-1;
        color: $color-text;
        font-family: $secondary-font-family;
        text-align: left;
        padding-bottom: 3vh;

        &__title {
            font-size: 3.6vh;
            color: black;
        }

        &__data {
            font-size: 2.5vh;
            color: black;
        }
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto';
        font-size: 3vh;
        padding: 3vh 4vh 2vh;
        border-bottom: 1px solid rgb(234, 234, 234);
    }
}