.data-item {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-size: 3vh;
    padding: 3vh 4vh 2vh;
    border-bottom: 1px solid var(--bg-2-text-color);

    &__title {
        font-size: 3.6vh;
        color: var(--bg-2-text-color);
    }

    &__data {
        font-size: 3vh;
        color: var(--bg-2-text-color);
    }

    @media (min-width: $desktop-layout) {
        grid-column: 3/-1;
        padding-bottom: 3vh;
    }
}