.container_theme_profile {
    @media (min-width: $desktop-min-width) {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 20px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-template-columns: repeat(12, 1fr);
        // grid-template-rows: 1fr 8fr;
    }
}