.rules {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='59' height='59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M28.703 0C38.91 0 48.956 4.7 48.956 15.942c0 10.368-11.88 14.355-14.431 18.101-1.916 2.787-1.276 6.702-6.539 6.702-3.428 0-5.102-2.788-5.102-5.34 0-9.494 13.95-11.643 13.95-19.46 0-4.304-2.864-6.855-7.651-6.855-10.206 0-6.22 10.521-13.95 10.521-2.79 0-5.186-1.674-5.186-4.862C10.046 6.93 18.974 0 28.703 0zm-.397 45.921c3.583 0 6.539 2.947 6.539 6.54 0 3.594-2.95 6.54-6.539 6.54-3.588 0-6.54-2.942-6.54-6.54 0-3.591 2.952-6.54 6.54-6.54z' fill='%23FCEA56'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h59v59H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $desktop-min-width) {
        padding: 4vh;
        background-size: 7vh;
        height: 4vh;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 40px;
        height: 30px;
    }
}