.rules {
    cursor: pointer;
    transition: all 250ms ease-out;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='59' viewBox='0 0 60 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M29.1586 0C39.3641 0 49.4117 4.70013 49.4117 15.9424C49.4117 26.3098 37.5315 30.2968 34.9801 34.043C33.0647 36.8296 33.7044 40.7451 28.4417 40.7451C25.0135 40.7451 23.3389 37.9567 23.3389 35.4053C23.3389 25.9109 37.2888 23.7622 37.2888 15.9443C37.2888 11.6412 34.4251 9.0898 29.6384 9.0898C19.4328 9.0898 23.4179 19.6115 15.6885 19.6115C12.8982 19.6115 10.5029 17.9369 10.5029 14.7495C10.501 6.92978 19.429 0 29.1586 0ZM28.7616 45.9213C32.3441 45.9213 35.3 48.8678 35.3 52.4616C35.3 56.0554 32.3497 59.0019 28.7616 59.0019C25.1734 59.0019 22.2213 56.0591 22.2213 52.4616C22.2213 48.8697 25.1734 45.9213 28.7616 45.9213Z' fill='%23005FF9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='59' height='59' fill='white' transform='translate(0.455078)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    &:hover {
        transform: scale(1.2);
    }

    @media (min-width: $desktop-min-width) {
        padding: 4vh;
        background-size: 7vh;
        height: 4vh;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 8vh 6vh 2vh;
        background-size: 5vh;
        height: 4vh;
    }
}
