@keyframes side1 {
    0% { background: linear-gradient(to right, orange 0%, $color-main 0%); }
    100% { background: linear-gradient(to right, orange -48%, #F7F9F9 38%); }
}

.player_theme_player1-active {
    // background: linear-gradient(to right, orange 10%, $color-main 90%);
    animation: side1 300ms forwards linear;
}