@keyframes side1 {
    0% { background: linear-gradient(to right, var(--primary-color) 0%, var(--bg-color) 0%); }
    100% { background: linear-gradient(to right, var(--primary-color) -48%, #F7F9F9 38%); }
}

.player_theme_player1-active {
    animation: side1 300ms forwards linear;
}