.player_theme_player2 {
    @media (min-width: $desktop-layout) {
        grid-column: 10 / -1;
        grid-row: 3 / -1;
    }

    // @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    //     //CSS
        
    // }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -1;
        grid-row: 3/-1;
    }
}