.settings-icon {
    background-color: #FFCDD2;
    background-image: url(../img/settings.svg);
    border: 2vh solid #FFCDD2;
    border-radius: 15vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1vh 9vh 2vh 9vh;
}