.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__form-title {
        font-family: Roboto;
        font-size: 3vh;
        color: var(--bg-text-color);
        margin-bottom: 1vh;
    }

    &__text-form {
        font-family: "Roboto";
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 2vh 1vh 2vh;
    }

    &__help {
        transition: opacity 300ms linear;
        font-family: "Roboto";
        color: white;
        text-align: center;
        padding-top: 20px;
    }

    @media (min-width: $desktop-layout) {
        &__text-form {
            font-size: 3.5vh;
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        &__text-form {
            font-size: 3vh;
        }
    }
}

.help-hidden {
    opacity: 0;
}