.main-button_theme_multiplayer {
    
    #multiplayer {
        grid-row: 1;
        width: 100%;
        transition: all 250ms ease-out;

        &__svg_2, &__svg_4, &__svg_5, &__svg_6, &__svg_12, &__svg_13 {
            fill: var(--secondary-color);
        }

        &__svg_3 {
            fill: var(--primary-color);
        }

        @media (min-width: $desktop-layout) {
            height: 25vh;
        }

        @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
            height: 14vh;
            padding: 2vh 0 2vh;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    @media (min-width: $desktop-layout) {
        grid-column: 3 / 5;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -2;
        grid-row: 4 / -2;
    }
}