.main-button_theme_signin {
    #signin {
        grid-row: 1;
        width: 100%;
        transition: all 250ms ease-out;
        padding-right: 1vh;

        &__svg_1, &__svg_2 {
            fill: var(--primary-color);
        }

        &__svg_4, &__svg_3 {
            fill: var(--secondary-color);
        }

        @media (min-width: $desktop-layout) {
            height: 25vh;
        }

        @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
            height: 14vh;
            padding: 2vh 0 2vh;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    @media (min-width: $desktop-layout) {
        grid-column: 3 / 5;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -2;
        grid-row: 4/-2;
        margin-left: -2vh;
    }
}