.main-button_theme_play {
    #singleicon {
        grid-row: 1;
        width: 100%;
        transition: all 250ms ease-out;

        &__play {
            fill: var(--first-color);
        }

        &__userhead {
            fill: var(--second-color);
        }

        &__userbody {
            fill: var(--second-color);
        }
        

        @media (min-width: $desktop-layout) {
            height: 25vh;
        }

        @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
            height: 14vh;
            padding: 2vh 0 2vh;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    @media (min-width: $desktop-layout) {
        grid-column: 1 / 3;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -2;
        grid-row: 2 / 4;
    }
}