a(href=hr, class='main-button ' + modifiers, data-href=dataset)
    if type=='singleplayer'
        include /img/singleplayer.svg
    if type=='multiplayer'
        include /img/multiplayer.svg
    if type=='signin'
        include /img/enter.svg

    span(class='label')=label