.main-button {
    display: grid;
    text-decoration: none;

    .label {
        grid-column: 1 / -1;
        font-family: "Unica One", cursive;
        text-align: center;
        color: var(--secondary-color);
    }

    @media (min-width: $desktop-layout) {
        grid-row: 3 / 6;

        .label {
            grid-row: 2;
            font-size: 7vh;
        }

    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-row: 3 / 5;

        .label {
            font-size: 4.7vh !important;
            grid-row: 2;
            font-size: 7vh;
        }
    }
}