@keyframes lines-down-left-line1 {
    0% { height: 30vh; }
    70% { height: 50vh; }
    100% { height: 30vh; }
}

@keyframes lines-down-left-line2 {
    0% { height: 30vh; }
    30% { height: 50vh; }
    55% { height: 30vh; }
    100% { height: 50vh; }
}

@keyframes lines-down-left-line3 {
    0% { height: 20vh; }
    70% { height: 30vh; }
    100% { height: 20vh; }
}

.lines-down-left {
    position: absolute;
    bottom: 0px;

    &__line1 {
        position: absolute;
        background-color: var(--first-color);
        animation: lines-down-left-line1 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }

    &__line2 {
        position: absolute;
        background-color: var(--first-color);
        animation: lines-down-left-line2 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }

    &__line3 {
        position: absolute;
        background-color: var(--second-color);
        animation: lines-down-left-line3 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
        transform: rotate(180deg);
        bottom: 0vh;
    }
    @media (min-width: $desktop-layout) {
        left: 15vw;

        &__line1 {
            width: 3px;
            height: 50vh;
        }

        &__line2 {
            width: 3px;
            height: 50vh;
            left: 40px;
        }

        &__line3 {
            width: 3px;
            height: 30vh;
            left: 80px;
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        left: 8vw;
        z-index: -3;

        &__line1 {
            width: 2px;
            height: 50vh;
        }

        &__line2 {
            width: 2px;
            height: 50vh;
            left: 20px;
        }

        &__line3 {
            width: 2px;
            height: 30vh;
            left: 40px;
        }
    }
}