@keyframes lines-down-left-line1 {
    0% { height: 30vh; }
    70% { height: 50vh; }
    100% { height: 30vh; }
}

@keyframes lines-down-left-line2 {
    0% { height: 30vh; }
    30% { height: 50vh; }
    55% { height: 30vh; }
    100% { height: 50vh; }
}

@keyframes lines-down-left-line3 {
    0% { height: 20vh; }
    70% { height: 30vh; }
    100% { height: 20vh; }
}

.lines-down-left {
    @media (min-width: $desktop-min-width) {
        position: absolute;
        bottom: 0px;
        left: 12vw;

        &__line1 {
            position: absolute;
            width: 3px;
            height: 50vh;
            background-color: $main-color;
            animation: lines-down-left-line1 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
            transform: rotate(180deg);
            bottom: 0vh;
        }

        &__line2 {
            position: absolute;
            width: 3px;
            height: 50vh;
            background-color: $main-color;
            left: 40px;
            animation: lines-down-left-line2 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
            transform: rotate(180deg);
            bottom: 0vh;
        }

        &__line3 {
            position: absolute;
            width: 3px;
            height: 30vh;
            background-color: $secondary-color;
            left: 80px;
            animation: lines-down-left-line3 2s forwards cubic-bezier(0.76, 0.04, 0.38, 0.4);
            transform: rotate(180deg);
            bottom: 0vh;
        }
    }
}