.profile {
    border-bottom: 1px solid white;
    background-image: url("data:image/svg+xml,%3Csvg width='68' height='67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34 31.073c8.709 0 15.768-6.956 15.768-15.537C49.768 6.956 42.708 0 34 0c-8.709 0-15.768 6.956-15.768 15.536 0 8.58 7.06 15.537 15.768 15.537zM34 38.84C18.216 38.84 5.42 51.449 5.42 67h57.16c0-15.552-12.796-28.16-28.58-28.16z' fill='%23FCEA56'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $desktop-min-width) {
        padding: 4vh;
        background-size: 7vh;
        height: 4vh;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 30px;
        height: 30px;
    }
}