.buttons {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-row: 8 / -2;
    }
}