.buttons {
    @media (min-width: $desktop-min-width) {
        grid-column: 2 / -2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-column: 2 / -2;
        grid-row: 8 / -2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}