.buttons_theme_edit-profile {
    @media (min-width: $desktop-min-width) {
        justify-content: center;
        grid-column: 3/-4;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-row: 3;
    }
}