.pages {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;

    &__back {
        display: flex;
        align-items: center;
    }

    &__num {
        display: flex;
        color: var(--text-color);
        align-items: center;
    }

    &__next {
        display: flex;
        align-items: center;
    }

    #page_next, #page_back {
        fill: var(--second-color);
    }

    @media (min-width: $desktop-layout) {
        grid-area: p;
        background-size: 73%;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -1;
        grid-row: 3;

        &__back {
            background-size: 9vh;
        }

        &__next {
            background-size: 9vh;
        }
    }
}