div(class="pages " + modifiers)
    div(role="button" class="pages__back pages_theme_elements")
    div(class="pages__num pages_theme_elements") #{page_num}
    div(role="button" class="pages__next pages_theme_elements")