.logout_theme_profile {
    grid-column: 1 / -1;
    font-family: "Roboto";  
    color: var(--bg-text-color);
    background-image: none !important;
    text-align: center;
    width: 100%;
    text-decoration: none;

    @media (min-width: $desktop-layout) {
        padding: 3vh 1vh 3vh;
        font-size: 3vh;  
        border-top: 1px solid rgb(234, 234, 234);
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        box-shadow: 0 0 7px 0 var(--bg-2-color);
    }
}