.logout {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.2947V49.7053C0 54.309 3.75566 58.0647 8.35937 58.0647H35.3624C39.9661 58.0647 43.7218 54.309 43.7218 49.7053V44.2939C43.7218 43.3786 42.9814 42.6382 42.0661 42.6382C41.1507 42.6382 40.4104 43.3786 40.4104 44.2939V49.7053C40.4104 52.4918 38.1354 54.7667 35.349 54.7667H8.35937C5.57291 54.7667 3.29798 52.4918 3.29798 49.7053V16.2947C3.29798 13.5083 5.57291 11.2333 8.35937 11.2333H35.3624C38.1489 11.2333 40.4238 13.5083 40.4238 16.2947V21.7061C40.4238 22.6215 41.1642 23.3618 42.0795 23.3618C42.9949 23.3618 43.7353 22.6215 43.7353 21.7061V16.2947C43.7353 11.691 39.9796 7.93536 35.3759 7.93536H8.35937C3.75566 7.93536 0 11.6776 0 16.2947Z' fill='%23005FF9'/%3E%3Cpath d='M51.8789 45.4516C52.202 45.7746 52.6193 45.9362 53.0501 45.9362C53.4808 45.9362 53.8981 45.7746 54.2212 45.4516L65.5151 34.1577C66.1612 33.5115 66.1612 32.475 65.5151 31.8289L54.2212 20.535C53.575 19.8889 52.5385 19.8889 51.8924 20.535C51.2463 21.1811 51.2463 22.2176 51.8924 22.8638L60.3729 31.3443H29.4257C28.5104 31.3443 27.77 32.0846 27.77 33C27.77 33.9154 28.5104 34.6557 29.4257 34.6557H60.3595L51.8789 43.1363C51.2328 43.7689 51.2328 44.8189 51.8789 45.4516Z' fill='%23005FF9'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $desktop-min-width) {
        padding: 70px 60px 24px 40px;
        background-size: 70px;
        height: 50px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 30px;
        height: 30px;
    }
}