.logout {
    cursor: pointer;
    transition: all 250ms ease-out;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512.032 512.032' style='enable-background:new 0 0 512.032 512.032;' xml:space='preserve'%3E%3Cpath style='fill:%230048BC;' d='M266.684,256.006c-17.673,0-32-14.327-32-32s14.327-32,32-32h117.333V53.339 c0-29.455-23.878-53.333-53.333-53.333h-256c-5.891,0-10.667,4.776-10.667,10.667v426.667c0,5.891,4.776,10.667,10.667,10.667h256 c29.455,0,53.333-23.878,53.333-53.333V256.006H266.684z'/%3E%3Cpath style='fill:%23005FF9;' d='M206.758,55.664L85.585,3.739C62.194-6.288,35.104,4.546,25.077,27.937 c-2.455,5.728-3.723,11.895-3.727,18.127V414c-0.014,18.435,10.975,35.099,27.925,42.347l121.173,51.947 c23.391,10.027,50.481-0.807,60.508-24.198c2.458-5.735,3.726-11.909,3.727-18.148V98.011 C234.698,79.576,223.709,62.912,206.758,55.664z'/%3E%3Cpath d='M181.35,298.672c-5.891,0-10.667-4.776-10.667-10.667v-42.667c0-5.891,4.776-10.667,10.667-10.667 c5.891,0,10.667,4.776,10.667,10.667v42.667C192.017,293.897,187.241,298.672,181.35,298.672z'/%3E%3Cpath style='fill:%23005FF9;' d='M489.873,228.08c1.649-3.989,0.731-8.579-2.325-11.627l-64-64c-4.237-4.093-10.99-3.975-15.083,0.262 c-3.993,4.134-3.993,10.687,0,14.821l45.803,45.803H266.684c-5.891,0-10.667,4.776-10.667,10.667 c0,5.891,4.776,10.667,10.667,10.667h187.584l-45.781,45.781c-4.237,4.093-4.354,10.845-0.262,15.083 c4.093,4.237,10.845,4.354,15.083,0.262c0.089-0.086,0.176-0.173,0.262-0.262l64-64C488.556,230.546,489.339,229.372,489.873,228.08 z'/%3E%3Cpath style='fill:%2300307F;' d='M181.35,298.672c-5.891,0-10.667-4.776-10.667-10.667v-42.667c0-5.891,4.776-10.667,10.667-10.667 c5.891,0,10.667,4.776,10.667,10.667v42.667C192.017,293.897,187.241,298.672,181.35,298.672z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        transform: scale(1.2);
    }

    @media (min-width: $desktop-min-width) {
        padding: 70px 60px 24px 40px;
        background-size: 70px;
        height: 50px;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 3vh 5vh;
        background-size: 7vh;
        // padding: 10px 30px;
        // background-size: 30px;
        // height: 30px;
    }
}