.row {
    display: flex;
    color: var(--bg-2-text-color);
    background: var(--bg-2-color);
    font-family: "Roboto";
    padding: 13px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;

    &__number {
        width: 3vh;
        padding: 0 3vw 0 2vw;
        text-align: center;
    }

    &__photo {
        overflow: hidden;
        max-width: 5vh;
        
        &__icon {
            object-fit: cover;
            object-position: top;
            border-radius: 100%;
        }
    }

    &__score {
        padding-right: 2vw;
        margin-left: auto;
    }

    @media (min-width: $desktop-layout) {
        font-size: 4vh;
        border-radius: 35px 0px 0px 0px;
        margin-bottom: 3vh;

        &__photo {
            overflow: hidden;
            margin: 0 7vh 0 0;
            max-width: 5vh;
            
            &__icon {
                object-fit: cover;
                object-position: top;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        font-size: 3vh;
        margin-bottom: 2vh;

        &__photo {
            overflow: hidden;
            margin: 0 5vh 0 0;
            max-width: 5vh;
            
            &__icon {
                object-fit: cover;
                object-position: top;
                width: 5vh;
                height: 5vh;
                overflow: hidden;
            }
        }
    }
}