div(class='row ' + modifiers)
    div(class='row__number') #{number}
    div(class='row__photo')
        img(class="row__photo__icon" src="img/pers1.svg")
    div(class='row__name') #{name}
    div(class='row__score') #{score}