each item, index in lst
    div(class='row ' + modifiers)
        div(class='row__number')=index+1
        div(class='row__photo')
            img(class="row__photo__icon" src="img/pers1.svg")
        div(class='row__name')=item.username
        div(class='row__score')=item.score