.content_theme_main {
    @media (min-width: $desktop-min-width) {
        grid-column: 2/-1;
        grid-template: 1fr 1.6fr 1.4fr/repeat(13, 1fr);
        grid-template-areas: ". . t t t t t t t t . . ." 
                             ". . . m m m m m m . . . ." 
                             ". . . . b b b b . . . . .";
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-template: 0.5fr 1fr 1fr/ repeat(8, 1fr);
        grid-template-areas: 
                    "t t t t t t t t"
                    ". m m m m m m ."
                    "b b b b b b b b";
    }
}