.avatar {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 1/3;
    
    &__photo {
        object-fit: cover;
        object-position: top;
        width: 18vh;
        height: 18vh;
        border: 1vh solid white;
        border-radius: 100%;
    }
}