@keyframes p1_active {
    from {box-shadow: 0 0 0 0 var(--primary-color);}
    to {box-shadow: 0px 0px 19px 8px var(--primary-color);}
}

@keyframes p2_active {
    from {box-shadow: 0 0 0 0 var(--secondary-color);}
    to {box-shadow: 0px 0px 19px 8px var(--secondary-color);}
}

.avatar {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 1/3;
    
    &__photo {
        object-fit: cover;
        object-position: top;
        width: 18vh;
        height: 18vh;
        border: 1vh solid var(--bg-color);
        border-radius: 100%;
    }
}