.menu_theme_profile {
    @media (min-width: $desktop-min-width) {
        align-items: flex-start;
        grid-column: 12;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-row: 1;
        grid-column: 1/-1;
        background-color: #ffc04d;
        display: flex;
        justify-content: space-between;
        // grid-row: 1;
        // // align-items: flex-start;
        // grid-column: 1 / -1;
    }
}