.menu {
    display: flex;

    @media (min-width: $desktop-layout) {
        flex-direction: column;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        justify-content: center;
    }
}