doctype html
html(lang='en')
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = 'initial-scale=1.0, width=device-width')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Colors
    body
        noscript
            p='Ваш браузер не поддерживает скрипты!'
        div#application

