doctype html
html(lang='en')
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = 'initial-scale=1.0, width=device-width')
        <link rel="icon" type="image/png" href="/img/favicon-228x228.png" sizes="228x228">
        link(rel = 'icon' type = 'image/png' href = '/img/icon.png')
        link(rel = 'stylesheet' type = 'text/css' href = '/style.css')
        title Colors
    body
        noscript
            p='Ваш браузер не поддерживает скрипты!'
        div#application
        script(src='/js/index.js')

