.submit {
    font-family: "Roboto";
    font-size: 3vh;
    text-align: center;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 11px 0 var(--border-color);
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 2vh 8% 2vh;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}