.submit {
    font-family: Roboto;
    font-size: 2.3em;
    text-align: center;
    color: white;
    background-color: $secondary-color;
    display: block;
    width: 100%;
    padding: 2vh 8% 2vh;
    text-decoration: none;
    border: none;
    cursor: pointer;
}