.submit {
    font-family: Roboto;
    font-size: 2.3em;
    text-align: center;
    color: white;
    background-color: #EF9A9A;
    display: block;
    width: 100%;
    padding: 2vh 8% 2vh;
    border-radius: 20px;
    text-decoration: none;
    border: none;
}