$color-main: #F7F9F9;
$color-icons: white;
$color-text: white;
$color-lines: white;
$main-font-family: 'Unica One', cursive;
$secondary-font-family: 'Roboto';
$scoreboard-font-size: 40px;

$color-background: #F7F9F9;
$main-color: #FF9E00;
$secondary-color: #005FF9;

/* media query sizes */

$mobile-min-width: 320px;
$mobile-max-width: 480px;

$ipdas-min-width: 768px;
$ipads-max-width: 1024px;

$laptop-min-width: 1025px;
$laptop-max-width: 1279px;

$desktop-min-width: 1280px;

/* test variables */

$desktop-layout: 1025px;
$mobile-layout: 0px;
$player-layout: 1300px;