.row {
    display: flex;
    padding: 13px;
    font-family: $secondary-font-family;
    font-size: $scoreboard-font-size;
    color: $color-text;
    background: rgb(182, 139, 143);
    border-radius: 35px 0px 0px 0px;
    // justify-content: space-around;
    align-items: center;

    &__number {
        padding: 0px 70px 0px 40px;
        // margin-left: auto;
    }

    &__photo {
        padding: 0px 70px 0px 0px;
        
        &__icon {
            width: 100px;
        }
    }

    &__score {
        padding-right: 40px;
        margin-left: auto;
    }
}