.buttons {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // justify-content: center;
    flex-direction: column;

    // &__top-button {
    //     font-family: Roboto;
    //     font-style: normal;
    //     font-weight: normal;
    //     line-height: normal;
    //     font-size: 44px;
    //     text-align: center;
    //     color: $color-text;
    //     background-color: #EF9A9A;
    //     display: block;
    //     width: 100%;
    //     height: 150px;
    //     margin-bottom: 70px;
    //     border: none;
    // }

    // &__bottom-button {
    //     font-family: Roboto;
    //     font-style: normal;
    //     font-weight: normal;
    //     line-height: normal;
    //     font-size: 44px;
    //     text-align: center;
    //     color: $color-text;
    //     background-color: rgba(239, 154, 154, 0.5);
    //     display: block;
    //     width: 100%;
    //     height: 150px;
    //     border: none;
    // }
}