.title_theme_service {
    color: var(--primary-color);
    @media (min-width: $desktop-min-width) {
        font-size: 9vh;
        grid-row: 2/2;
        grid-column: 1/-1;
        align-items: center;
        text-align: center;
    }

    @media (min-width: $mobile-min-width) {
        font-size: 6vh;
        grid-row: 2/2;
        grid-column: 1/-1;
        align-items: center;
        text-align: center;
    }
}
