.title_theme_signin {
    @media (min-width: $desktop-min-width) {
        font-size: 9vh;
        color: $main-color;
        grid-column: 1 / -1;
        grid-row: 1/3;
        align-items: flex-end;
    }
}
