.title_theme_signin {
    color: $main-color;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    align-items: flex-end;

    @media (min-width: $desktop-layout) {
        font-size: 9vh;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        font-size: 6vh;
    }
}
