.content_theme_scoreboard {
    grid-column: 3/-1;
    grid-template: 1.4fr 7fr 1fr/repeat(10, 1fr);
    grid-template-areas: "t t t t t t t t . ." 
                         ". m m m m m m . . ." 
                         ". . p p p p . . . .";
}