.content_theme_main {
    grid-column: 3 / -1;
    grid-template: repeat(6, 1fr) / repeat(5, 1fr);

    @media (min-width: $desktop-layout) {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-row: 2;
    }
}