.content_theme_scoreboard {
    grid-template: 1.4fr 5fr 1fr/repeat(10, 1fr);

    @media (min-width: $desktop-layout) {
        grid-column: 3 / -1;
        grid-template-areas: "t t t t t t t t . ." 
                            ". m m m m m m . . ." 
                            ". . p p p p . . . .";
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1 / -1;
    }
}