.content_theme_profile {
    @media (min-width: $desktop-min-width) {
        grid-column: 4/-3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        grid-column: 1/-1;
        // grid-column: 1/-1;
        // grid-row: 2;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}