.content_theme_url {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    @media (min-width: $desktop-layout) {
        grid-column: 4/10;
    }

    @media (min-width: $mobile-layout) and (max-width: $desktop-layout) {
        grid-column: 1/-1;
    }
}
