.content_theme_signin {

    @media (min-width: $desktop-min-width) {
        grid-column: 4/10;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
