.play {
    background: url(/img/play.svg);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $desktop-min-width) {
        padding: 0px 60px 0px 60px;
        background-size: 75%;
        height: 70%;
        width: 20%;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px 10px 30px;
        background-size: 60%;
        height: 100%;
        width: 40%;
    }
}