.play {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='88' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M85.346 45.653c3.374 1.916 3.374 6.778 0 8.694L7.47 98.585C4.136 100.478 0 98.07 0 94.237V5.763C0 1.93 4.136-.477 7.47 1.415l77.876 44.238z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 4vh;

    @media (min-width: $desktop-min-width) {
        background-size: 22vh;
        height: 100%;
        width: 100%;
    }

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 10px 30px;
        background-size: 60%;
        height: 100%;
        width: 40%;
    }
}